<h3>Dodajte novo sliko:</h3>


{{#if session.username}}
<form action="/images/dodaj" method="post" enctype="multipart/form-data" id="imageForm">
	<br>
    <textarea rows="3" cols="70" form="imageForm" name="description" placeholder="Opis slike (pomožno)"></textarea><br>
    <input type="file" name="slika" required><br><br>
	<label for="metaPodatki">Lokacijo pridobi iz metapodatkov (kolikor je to možno)</label>
	<input type="checkbox" name="metaPodatki" id="metaPodatki" value="metaPodatki">
	<br><br>
	Lon: <input type="number" id="Lon" name="lon" step="0.000000000000000001"></input> Lat: <input type="number" id="Lat" step="0.000000000000000001" name="lat"></input>
	<br>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([14.505751, 46.056946]),
          zoom: 7
        })
      });
	  
	  
	map.on('click', function(evt) {
		var lonLat = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326')
		var lat = lonLat[0];
		var lon = lonLat[1];
		document.getElementById("Lon").value = lon;
		document.getElementById("Lat").value = lat;
		map.getLayers().forEach(layer => {
			if (layer && layer.get('name') === 'Marker') {
				map.removeLayer(layer);
			}
		});
		 var layer = new ol.layer.Vector({
		 	name : 'Marker',
			source: new ol.source.Vector({
				features: [
					new ol.Feature({
						geometry: new ol.geom.Point(ol.proj.fromLonLat([lat, lon]))
					})
				]
			})
		});
		map.addLayer(layer);	
	});
	
    </script>
    <div>
		<br>
        <input type="submit" value="Dodaj">
    </div>
</form>
{{else}}
<b style="color:red">Za ogled profila rabite biti prijavljeni/registrirani</b>
{{/if}}
