<h3>Dodajte novo sliko:</h3>
<form action="/images/dodaj" method="post" enctype="multipart/form-data" id="imageForm">
	<br>
    <textarea rows="3" cols="70" form="imageForm" name="description" placeholder="Opis slike (pomožno)"></textarea><br>
    <input type="file" name="slika" required>
    <div>
		<br>
        <input type="submit" value="Dodaj">
    </div>
</form>
