<h1>Prijava</h1><br>
<form action="/users/login" method="post">
    <input type="text" name="username" placeholder="Uporabniško ime" required><br>
    <input type="password" name="password" placeholder="Geslo" required><br><br>
    <div class="tp">
        <input type="submit" value="Prijava">
    </div>
</form>
