<h1>Registracija</h1><br>
<form action="/users" method="post">
    <input type="email" name="gmail" placeholder="E-mail" required=""><br>
    <input type="text" name="username" placeholder="Username" required=""><br>
    <input type="password" name="password" placeholder="Password" required=""><br><br>

    <input type="submit" value="REGISTER">
</form>
